.link-simple {
  color: #7000E3;
}

.no-data {
  color: #D5D4E4;
}

.el-state {
  position: relative;
  padding-left: calc(16px + 4px);

  &:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: calc(50% - 16px / 2);
    left: 0;
  }

  &.active {
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M10.5 6.29289C10.6953 6.48816 10.6953 6.80474 10.5 7L8 9.5C7.80474 9.69526 7.48816 9.69526 7.29289 9.5L5.79289 8C5.59763 7.80474 5.59763 7.48816 5.79289 7.29289C5.98816 7.09763 6.30474 7.09763 6.5 7.29289L7.64645 8.43934L9.79289 6.29289C9.98816 6.09763 10.3047 6.09763 10.5 6.29289Z" fill="%23009F74"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15ZM8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" fill="%23009F74"/></svg>');
    }
  }

  &.inactive {
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M5.85355 5.14645C5.65829 4.95118 5.34171 4.95118 5.14645 5.14645C4.95118 5.34171 4.95118 5.65829 5.14645 5.85355L7.29289 8L5.14645 10.1464C4.95118 10.3417 4.95118 10.6583 5.14645 10.8536C5.34171 11.0488 5.65829 11.0488 5.85355 10.8536L8 8.70711L10.1464 10.8536C10.3417 11.0488 10.6583 11.0488 10.8536 10.8536C11.0488 10.6583 11.0488 10.3417 10.8536 10.1464L8.70711 8L10.8536 5.85355C11.0488 5.65829 11.0488 5.34171 10.8536 5.14645C10.6583 4.95118 10.3417 4.95118 10.1464 5.14645L8 7.29289L5.85355 5.14645Z" fill="%23D90660"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8ZM14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z" fill="%23D90660"/></svg>');
    }
  }

  &.active-dot {
    padding-left: 24px;
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" fill="%2300CA99"/></svg>');
      width: 24px;
      height: 24px;
      top: calc(50% - 24px / 2);
    }
  }

  &.inactive-dot {
    padding-left: 24px;
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" fill="%23F12D80"/></svg>');
      width: 24px;
      height: 24px;
      top: calc(50% - 24px / 2);
    }
  }

  &.active-dot-big {
    font-size: 16px;
    line-height: 24px;
    padding-left: calc(24px + 4px);
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M18 12C18 15.3137 15.3137 18 12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12Z" fill="%2300CA99"/></svg>');
      width: 24px;
      height: 24px;
      top: calc(50% - 24px / 2);
    }
  }

  &.inactive-dot-big {
    font-size: 16px;
    line-height: 24px;
    padding-left: calc(24px + 4px);
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M18 12C18 15.3137 15.3137 18 12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12Z" fill="%23D5D4E4"/></svg>');
      width: 24px;
      height: 24px;
      top: calc(50% - 24px / 2);
    }
  }

  &.active-patch-check {
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><g clip-path="url(%23clip0_19750_19921)"><path d="M10.0662 0.870012C9.79703 0.594553 9.47551 0.375673 9.12055 0.226235C8.76558 0.0767976 8.38433 -0.000183105 7.9992 -0.000183105C7.61406 -0.000183105 7.23281 0.0767976 6.87784 0.226235C6.52288 0.375673 6.20137 0.594553 5.9322 0.870012L5.31019 1.50801L4.4202 1.49701C4.03495 1.49245 3.65267 1.56497 3.29586 1.7103C2.93904 1.85563 2.61489 2.07084 2.34245 2.34327C2.07002 2.6157 1.85481 2.93986 1.70948 3.29667C1.56415 3.65349 1.49164 4.03576 1.4962 4.42101L1.5062 5.31101L0.870195 5.93301C0.594736 6.20218 0.375856 6.5237 0.226418 6.87866C0.0769807 7.23362 0 7.61488 0 8.00001C0 8.38515 0.0769807 8.7664 0.226418 9.12137C0.375856 9.47633 0.594736 9.79784 0.870195 10.067L1.5072 10.689L1.4962 11.579C1.49164 11.9643 1.56415 12.3465 1.70948 12.7034C1.85481 13.0602 2.07002 13.3843 2.34245 13.6568C2.61489 13.9292 2.93904 14.1444 3.29586 14.2897C3.65267 14.4351 4.03495 14.5076 4.4202 14.503L5.31019 14.493L5.9322 15.129C6.20137 15.4045 6.52288 15.6234 6.87784 15.7728C7.23281 15.9222 7.61406 15.9992 7.9992 15.9992C8.38433 15.9992 8.76558 15.9222 9.12055 15.7728C9.47551 15.6234 9.79703 15.4045 10.0662 15.129L10.6882 14.492L11.5782 14.503C11.9634 14.5076 12.3457 14.4351 12.7025 14.2897C13.0593 14.1444 13.3835 13.9292 13.6559 13.6568C13.9284 13.3843 14.1436 13.0602 14.2889 12.7034C14.4342 12.3465 14.5068 11.9643 14.5022 11.579L14.4922 10.689L15.1282 10.067C15.4037 9.79784 15.6225 9.47633 15.772 9.12137C15.9214 8.7664 15.9984 8.38515 15.9984 8.00001C15.9984 7.61488 15.9214 7.23362 15.772 6.87866C15.6225 6.5237 15.4037 6.20218 15.1282 5.93301L14.4912 5.31101L14.5022 4.42101C14.5068 4.03576 14.4342 3.65349 14.2889 3.29667C14.1436 2.93986 13.9284 2.6157 13.6559 2.34327C13.3835 2.07084 13.0593 1.85563 12.7025 1.7103C12.3457 1.56497 11.9634 1.49245 11.5782 1.49701L10.6882 1.50701L10.0662 0.870012ZM10.3532 6.85401L7.3532 9.85401C7.30675 9.90058 7.25157 9.93752 7.19083 9.96272C7.13008 9.98793 7.06496 10.0009 6.9992 10.0009C6.93343 10.0009 6.86831 9.98793 6.80756 9.96272C6.74682 9.93752 6.69164 9.90058 6.6452 9.85401L5.1452 8.35401C5.09871 8.30752 5.06183 8.25234 5.03667 8.1916C5.01151 8.13086 4.99856 8.06576 4.99856 8.00001C4.99856 7.93427 5.01151 7.86917 5.03667 7.80843C5.06183 7.74769 5.09871 7.6925 5.1452 7.64601C5.19168 7.59952 5.24687 7.56265 5.30761 7.53749C5.36835 7.51233 5.43345 7.49938 5.4992 7.49938C5.56494 7.49938 5.63004 7.51233 5.69078 7.53749C5.75152 7.56265 5.80671 7.59952 5.8532 7.64601L6.9992 8.79301L9.6452 6.14601C9.73908 6.05213 9.86642 5.99938 9.9992 5.99938C10.132 5.99938 10.2593 6.05213 10.3532 6.14601C10.4471 6.2399 10.4998 6.36724 10.4998 6.50001C10.4998 6.63279 10.4471 6.76013 10.3532 6.85401Z" fill="%23009F74"/></g><defs><clipPath id="clip0_19750_19921"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
    }
  }

  &.inactive-patch-check {
    &:before {
      background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_19750_19929)"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3527 6.14598C10.3992 6.19242 10.4362 6.2476 10.4614 6.30834C10.4866 6.36909 10.4996 6.43421 10.4996 6.49998C10.4996 6.56575 10.4866 6.63087 10.4614 6.69161C10.4362 6.75236 10.3992 6.80753 10.3527 6.85398L7.35268 9.85398C7.30623 9.90054 7.25106 9.93748 7.19031 9.96269C7.12957 9.9879 7.06445 10.0009 6.99868 10.0009C6.93291 10.0009 6.86779 9.9879 6.80704 9.96269C6.7463 9.93748 6.69112 9.90054 6.64468 9.85398L5.14468 8.35398C5.09819 8.30749 5.06131 8.2523 5.03616 8.19156C5.011 8.13082 4.99805 8.06572 4.99805 7.99998C4.99805 7.93423 5.011 7.86913 5.03616 7.80839C5.06131 7.74766 5.09819 7.69247 5.14468 7.64598C5.19117 7.59949 5.24636 7.56261 5.3071 7.53745C5.36783 7.5123 5.43293 7.49935 5.49868 7.49935C5.56442 7.49935 5.62952 7.5123 5.69026 7.53745C5.751 7.56261 5.80619 7.59949 5.85268 7.64598L6.99868 8.79298L9.64468 6.14598C9.69112 6.09941 9.7463 6.06247 9.80705 6.03727C9.86779 6.01206 9.93291 5.99908 9.99868 5.99908C10.0644 5.99908 10.1296 6.01206 10.1903 6.03727C10.2511 6.06247 10.3062 6.09941 10.3527 6.14598Z" fill="%232D2D47"/><path d="M10.2722 2.51299L9.3512 1.56899L10.0662 0.870989L10.6882 1.50799L11.5782 1.49699C11.9634 1.49243 12.3457 1.56495 12.7025 1.71028C13.0593 1.85561 13.3835 2.07082 13.6559 2.34325C13.9284 2.61568 14.1436 2.93983 14.2889 3.29665C14.4342 3.65347 14.5068 4.03574 14.5022 4.42099L14.4922 5.31099L15.1282 5.93299C15.4037 6.20216 15.6225 6.52367 15.772 6.87864C15.9214 7.2336 15.9984 7.61485 15.9984 7.99999C15.9984 8.38513 15.9214 8.76638 15.772 9.12134C15.6225 9.47631 15.4037 9.79782 15.1282 10.067L14.4912 10.689L14.5022 11.579C14.5068 11.9642 14.4342 12.3465 14.2889 12.7033C14.1436 13.0601 13.9284 13.3843 13.6559 13.6567C13.3835 13.9292 13.0593 14.1444 12.7025 14.2897C12.3457 14.435 11.9634 14.5075 11.5782 14.503L10.6882 14.493L10.0662 15.129C9.79703 15.4044 9.47551 15.6233 9.12055 15.7728C8.76558 15.9222 8.38433 15.9992 7.9992 15.9992C7.61406 15.9992 7.23281 15.9222 6.87784 15.7728C6.52288 15.6233 6.20137 15.4044 5.9322 15.129L5.31019 14.492L4.4202 14.503C4.03495 14.5075 3.65267 14.435 3.29586 14.2897C2.93904 14.1444 2.61489 13.9292 2.34245 13.6567C2.07002 13.3843 1.85481 13.0601 1.70948 12.7033C1.56415 12.3465 1.49164 11.9642 1.4962 11.579L1.5062 10.689L0.870195 10.067C0.594736 9.79782 0.375856 9.47631 0.226418 9.12134C0.0769807 8.76638 0 8.38513 0 7.99999C0 7.61485 0.0769807 7.2336 0.226418 6.87864C0.375856 6.52367 0.594736 6.20216 0.870195 5.93299L1.5072 5.31099L1.4962 4.42099C1.49164 4.03574 1.56415 3.65347 1.70948 3.29665C1.85481 2.93983 2.07002 2.61568 2.34245 2.34325C2.61489 2.07082 2.93904 1.85561 3.29586 1.71028C3.65267 1.56495 4.03495 1.49243 4.4202 1.49699L5.31019 1.50699L5.9322 0.870989C6.20137 0.595529 6.52288 0.376649 6.87784 0.227212C7.23281 0.0777741 7.61406 0.000793457 7.9992 0.000793457C8.38433 0.000793457 8.76558 0.0777741 9.12055 0.227212C9.47551 0.376649 9.79703 0.595529 10.0662 0.870989L9.3512 1.56899C9.17516 1.38878 8.96487 1.24557 8.73269 1.1478C8.5005 1.05003 8.25112 0.999669 7.9992 0.999669C7.74727 0.999669 7.49789 1.05003 7.26571 1.1478C7.03352 1.24557 6.82323 1.38878 6.64719 1.56899L5.7272 2.51299L4.4072 2.49699C4.15537 2.49417 3.90553 2.54171 3.67234 2.63682C3.43915 2.73192 3.22731 2.87267 3.04928 3.05079C2.87125 3.22891 2.73062 3.44082 2.63564 3.67406C2.54066 3.9073 2.49325 4.15717 2.4962 4.40899L2.5122 5.72699L1.5682 6.64799C1.38798 6.82403 1.24478 7.03432 1.14701 7.2665C1.04924 7.49868 0.998875 7.74806 0.998875 7.99999C0.998875 8.25191 1.04924 8.5013 1.14701 8.73348C1.24478 8.96566 1.38798 9.17595 1.5682 9.35199L2.5122 10.272L2.4962 11.592C2.49338 11.8438 2.54092 12.0937 2.63602 12.3268C2.73113 12.56 2.87187 12.7719 3.04999 12.9499C3.22812 13.1279 3.44002 13.2686 3.67326 13.3635C3.9065 13.4585 4.15637 13.5059 4.4082 13.503L5.7262 13.487L6.64719 14.431C6.82323 14.6112 7.03352 14.7544 7.26571 14.8522C7.49789 14.9499 7.74727 15.0003 7.9992 15.0003C8.25112 15.0003 8.5005 14.9499 8.73269 14.8522C8.96487 14.7544 9.17516 14.6112 9.3512 14.431L10.2712 13.487L11.5912 13.503C11.843 13.5058 12.0929 13.4583 12.3261 13.3632C12.5592 13.2681 12.7711 13.1273 12.9491 12.9492C13.1271 12.7711 13.2678 12.5592 13.3628 12.3259C13.4577 12.0927 13.5051 11.8428 13.5022 11.591L13.4862 10.273L14.4302 9.35199C14.6104 9.17595 14.7536 8.96566 14.8514 8.73348C14.9491 8.5013 14.9995 8.25191 14.9995 7.99999C14.9995 7.74806 14.9491 7.49868 14.8514 7.2665C14.7536 7.03432 14.6104 6.82403 14.4302 6.64799L13.4862 5.72799L13.5022 4.40799C13.505 4.15617 13.4575 3.90632 13.3624 3.67313C13.2673 3.43994 13.1265 3.22811 12.9484 3.05008C12.7703 2.87205 12.5584 2.73141 12.3251 2.63643C12.0919 2.54145 11.842 2.49404 11.5902 2.49699L10.2722 2.51299Z" fill="%232D2D47"/></g><defs><clipPath id="clip0_19750_19929"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
    }
  }

  &.blocked {
    font-size: 16px;
    line-height: 24px;
    color: #2D2D47;
    padding-left: calc(24px + 4px);
    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 3C9.243 3 7 5.243 7 8V10H6C4.897 10 4 10.897 4 12V20C4 21.103 4.897 22 6 22H18C19.103 22 20 21.103 20 20V12C20 10.897 19.103 10 18 10H17V8C17 5.243 14.757 3 12 3ZM18 12L18.002 20H6V12H18ZM9 10V8C9 6.346 10.346 5 12 5C13.654 5 15 6.346 15 8V10H9Z" fill="%23F12D80"/></svg>');
      width: 24px;
      height: 24px;
      top: calc(50% - 24px / 2);
    }
  }

  &.level {
    &:before {
      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M14.6663 3.4535L7.05967 11.0668L4.23301 8.24017L5.17301 7.30017L7.05967 9.18684L13.7263 2.52017L14.6663 3.4535ZM13.193 6.8135C13.2797 7.1935 13.333 7.5935 13.333 8.00017C13.333 10.9468 10.9463 13.3335 7.99967 13.3335C5.05301 13.3335 2.66634 10.9468 2.66634 8.00017C2.66634 5.0535 5.05301 2.66684 7.99967 2.66684C9.05301 2.66684 10.0263 2.9735 10.853 3.50017L11.813 2.54017C10.6973 1.7532 9.365 1.33162 7.99967 1.3335C4.31967 1.3335 1.33301 4.32017 1.33301 8.00017C1.33301 11.6802 4.31967 14.6668 7.99967 14.6668C11.6797 14.6668 14.6663 11.6802 14.6663 8.00017C14.6663 7.20684 14.5197 6.44684 14.2663 5.74017L13.193 6.8135Z" fill="%23FEC842"/></svg>');
      top: 3px;
    }
  }

  &.extra {
    font-weight: 600;
    &:before {
      background-color: #7000E3;
    }
  }

  &.hard {
    font-weight: 600;
    &:before {
      background-color: #F12D80;
    }
  }

  &.middle {
    font-weight: 600;
    &:before {
      background-color: #FEC842;
    }
  }

  &.easy {
    font-weight: 600;
    &:before {
      background-color: #00CA99;
    }
  }

  &.elementary {
    font-weight: 600;
    &:before {
      background-color: #73738A;
    }
  }
}