.toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #FFF;
  padding: 16px;
}

.toolbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.7094 4.29031C16.0969 4.6774 16.0969 5.30499 15.7094 5.69208L9.3953 12L15.7094 18.3079C16.0969 18.695 16.0969 19.3226 15.7094 19.7097C15.3219 20.0968 14.6937 20.0968 14.3063 19.7097L7.2906 12.7009C6.90313 12.3138 6.90313 11.6862 7.2906 11.2991L14.3063 4.29031C14.6937 3.90323 15.3219 3.90323 15.7094 4.29031Z" fill="%237000E3"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.toolbar__title {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;

  & span {
    font-weight: 600;
  }
}