.menu-global {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: calc(768px + 16px*2);
  margin: 0 auto;
  padding: 0 16px;

  & h1 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
  }

  & .modules {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    & a {
      width: calc(100% / 3 - 24px * 2 / 3);
      display: flex;
      flex-direction: column;
      gap: 8px;
      background: #FFF;
      box-shadow: 0 0 2px 0 rgba(41, 0, 84, 0.10), 0 4px 16px 0 rgba(41, 0, 84, 0.10);
      border: 1px solid #ECEAFA;
      border-radius: 16px;
      padding: 16px;
      min-height: 120px;
      @media (max-width: 800px) {
        width: calc(50% - 24px / 2);
      }
      @media (max-width: 560px) {
        width: 100%;
      }

      &.disabled {
        pointer-events: none;
        color: #A8A8BD;
        box-shadow: unset;
        & h3:before {
          background-color: #D8B7FA;
        }
      }

      &.students {
        & h3:before {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M15.0002 3C14.448 3 14.0002 3.44772 14.0002 4C14.0002 4.55228 14.448 5 15.0002 5C16.1048 5 17.0002 5.89543 17.0002 7C17.0002 7.23555 16.9599 7.45952 16.8867 7.66675C16.7027 8.18747 16.9756 8.75879 17.4963 8.94284C18.017 9.12689 18.5883 8.85396 18.7724 8.33325C18.9202 7.91492 19.0002 7.46573 19.0002 7C19.0002 4.79086 17.2094 3 15.0002 3Z" fill="%237000E3"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.0002 5C7.23882 5 5.00024 7.23858 5.00024 10C5.00024 12.7614 7.23882 15 10.0002 15C12.7617 15 15.0002 12.7614 15.0002 10C15.0002 7.23858 12.7617 5 10.0002 5ZM7.00024 10C7.00024 8.34315 8.34339 7 10.0002 7C11.6571 7 13.0002 8.34315 13.0002 10C13.0002 11.6569 11.6571 13 10.0002 13C8.34339 13 7.00024 11.6569 7.00024 10Z" fill="%237000E3"/><path d="M10.0003 18C8.1465 18 6.68979 18.2805 5.70439 18.5567C4.97055 18.7624 4.36465 19.3635 3.99522 20.2185L3.91822 20.3967C3.69916 20.9036 3.11058 21.137 2.6036 20.918C2.09662 20.6989 1.86322 20.1103 2.08229 19.6033L2.15929 19.4251C2.69675 18.1813 3.69688 17.0424 5.16453 16.631C6.30469 16.3113 7.94343 16 10.0003 16C12.0571 16 13.6958 16.3113 14.836 16.631C16.3036 17.0424 17.3038 18.1813 17.8412 19.4251L17.9182 19.6033C18.1373 20.1103 17.9039 20.6989 17.3969 20.918C16.8899 21.137 16.3014 20.9036 16.0823 20.3967L16.0053 20.2185C15.6359 19.3635 15.03 18.7624 14.2961 18.5567C13.3107 18.2805 11.854 18 10.0003 18Z" fill="%237000E3"/><path d="M17.1484 12.1573C16.6022 12.0755 16.0931 12.4519 16.0113 12.9981C15.9295 13.5443 16.3059 14.0534 16.8521 14.1352C17.4754 14.2286 18.0087 14.3597 18.4443 14.4939C19.126 14.704 19.677 15.3065 19.9968 16.17L20.0625 16.3473C20.2543 16.8652 20.8297 17.1296 21.3476 16.9378C21.8655 16.7459 22.1298 16.1706 21.938 15.6527L21.8723 15.4753C21.4135 14.2364 20.4939 13.0327 19.0332 12.5826C18.5089 12.4211 17.8778 12.2666 17.1484 12.1573Z" fill="%237000E3"/></svg>');
        }
      }

      &.webs {
        & h3:before {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 4H3C1.34315 4 0 5.34314 0 7V17C0 18.6569 1.34315 20 3 20H15C16.6569 20 18 18.6569 18 17V15.6786L22.5157 18.1783C23.1822 18.5473 24 18.0652 24 17.3034V6.69656C24 5.93475 23.1822 5.45271 22.5157 5.82167L18 8.32142V7C18 5.34314 16.6569 4 15 4ZM18 10.6074V13.3926L22 15.6069V8.39313L18 10.6074ZM16 7C16 6.44772 15.5523 6 15 6H3C2.44772 6 2 6.44772 2 7V17C2 17.5523 2.44772 18 3 18H15C15.5523 18 16 17.5523 16 17V7Z" fill="%237000E3"/><path d="M6 15.4383V8.5617C6 8.11383 6.47698 7.84668 6.83308 8.09512L11.7614 11.5334C12.0795 11.7554 12.0795 12.2446 11.7614 12.4666L6.83308 15.9049C6.47698 16.1533 6 15.8862 6 15.4383Z" fill="%237000E3"/></svg>');
        }
      }

      &.edu {
        & h3:before {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M3 9L12 14L21 9L12 4L3 9Z" stroke="%237000E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 11V16.5L12 20L18 16.5V11" stroke="%237000E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 9V16" stroke="%237000E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }

      &.config {
        & h3:before {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 2C9.53123 2 9.12532 2.32575 9.02381 2.78349L8.58439 4.76485C8.18653 4.95273 7.80486 5.17314 7.44328 5.42383L5.50634 4.81414C5.05926 4.67341 4.57443 4.86208 4.34007 5.26799L2.34007 8.73199C2.10582 9.13772 2.18464 9.65169 2.52972 9.96857L4.02644 11.343C3.99055 11.7809 3.99054 12.221 4.02643 12.6589L2.52994 14.0322C2.18469 14.3491 2.10576 14.8632 2.34007 15.269L4.34007 18.733C4.57443 19.1389 5.05926 19.3276 5.50634 19.1869L7.44343 18.5771C7.80475 18.8275 8.18611 19.0476 8.58363 19.2353L9.02389 21.2169C9.12555 21.6744 9.53137 22 10.0001 22H14.0001C14.4688 22 14.8746 21.6744 14.9763 21.2169L15.4166 19.2349C15.8144 19.0468 16.1959 18.8262 16.5573 18.5753L18.4938 19.1849C18.9409 19.3256 19.4258 19.1369 19.6601 18.731L21.6601 15.267C21.8944 14.8612 21.8155 14.3471 21.4702 14.0302L19.9738 12.6569C20.0097 12.219 20.0097 11.779 19.9738 11.3411L21.4702 9.96776C21.8155 9.65091 21.8944 9.13681 21.6601 8.73099L19.6601 5.26699C19.4258 4.86108 18.9409 4.67241 18.4938 4.81314L16.5567 5.42288C16.1954 5.1725 15.8141 4.95236 15.4166 4.7647L14.9763 2.78311C14.8746 2.32555 14.4688 2 14.0001 2H10.0001ZM10.4264 5.69651L10.8026 4H13.1979L13.5749 5.69689C13.6472 6.02212 13.8766 6.29 14.1869 6.41133C14.7489 6.63107 15.2744 6.93444 15.7458 7.31116C16.006 7.51912 16.3526 7.58387 16.6703 7.48386L18.3292 6.96171L19.5271 9.03649L18.2459 10.2122C18.0009 10.4371 17.8837 10.7691 17.9332 11.0979C18.0232 11.6953 18.0232 12.3027 17.9332 12.9001C17.8837 13.2289 18.0009 13.5609 18.2459 13.7858L19.5271 14.9615L18.3292 17.0363L16.6703 16.5141C16.3523 16.414 16.0053 16.479 15.745 16.6874C15.2738 17.0648 14.7483 17.3687 14.1862 17.5889C13.8763 17.7104 13.6471 17.9781 13.5749 18.3031L13.1979 20H10.8023L10.4253 18.3031C10.353 17.9779 10.1235 17.71 9.81325 17.5887C9.2513 17.3689 8.72577 17.0656 8.25444 16.6889C7.99424 16.4809 7.64757 16.4161 7.32984 16.5161L5.67101 17.0383L4.4731 14.9635L5.75424 13.7878C5.99924 13.5629 6.11644 13.231 6.06695 12.9022C5.97704 12.3048 5.97704 11.6972 6.06695 11.0998C6.11643 10.7711 5.99931 10.4393 5.75446 10.2144L4.47298 9.0377L5.67101 6.96271L7.32984 7.48486C7.64766 7.5849 7.99442 7.52008 8.25464 7.31199C8.72619 6.93489 9.25203 6.63123 9.81434 6.4113C10.1247 6.28991 10.3542 6.02188 10.4264 5.69651ZM10.0001 12C10.0001 10.8954 10.8955 10 12.0001 10C13.1046 10 14.0001 10.8954 14.0001 12C14.0001 13.1046 13.1046 14 12.0001 14C10.8955 14 10.0001 13.1046 10.0001 12ZM12.0001 8C9.79092 8 8.00006 9.79086 8.00006 12C8.00006 14.2091 9.79092 16 12.0001 16C14.2092 16 16.0001 14.2091 16.0001 12C16.0001 9.79086 14.2092 8 12.0001 8Z" fill="%237000E3"/></svg>');
        }
      }

      &.admin {
        & h3:before {
          mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="12.0006" cy="9.75" rx="2.28571" ry="2.25" fill="%237000E3"/><path d="M8 14.25C8.79844 13.5775 10.2908 13.125 12 13.125C13.7092 13.125 15.2016 13.5775 16 14.25C15.2016 15.5951 13.7092 16.5 12 16.5C10.2908 16.5 8.79844 15.5951 8 14.25Z" fill="%237000E3"/><path d="M3.01214 5.73072C3.01214 5.30085 3.28687 4.91907 3.69448 4.78252L11.6823 2.10642C11.8885 2.03736 12.1115 2.03736 12.3177 2.10642L20.3055 4.78252C20.7131 4.91907 20.9879 5.30085 20.9879 5.73072V10.7627C20.9879 10.8468 20.9905 10.929 20.9935 11.013C21.0158 11.6415 21.0464 14.5388 19.8643 17C18.5302 19.7778 15.6513 22 12 22C8.34869 22 5.4697 19.7778 4.13556 17C2.95354 14.5389 2.98417 11.6418 3.00653 11.0131C3.00952 10.929 3.01214 10.8468 3.01214 10.7626V5.73072Z" stroke="%237000E3" stroke-width="2" stroke-linecap="round"/><path d="M14.2858 9.75006C14.2858 10.9927 13.2624 12.0001 12.0001 12.0001C10.7377 12.0001 9.71436 10.9927 9.71436 9.75006C9.71436 8.50742 10.7377 7.50006 12.0001 7.50006C13.2624 7.50006 14.2858 8.50742 14.2858 9.75006Z" fill="%237000E3"/><path d="M8.00012 14.2501C8.79856 13.5775 10.2909 13.1251 12.0001 13.1251C13.7093 13.1251 15.2017 13.5775 16.0001 14.2501C15.2017 15.5951 13.7094 16.5001 12.0001 16.5001C10.2909 16.5001 8.79856 15.5951 8.00012 14.2501Z" fill="%237000E3"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.6354 1.15828C12.2232 1.02016 11.7771 1.02016 11.3648 1.15828L3.37691 3.83437C2.5617 4.10749 2.01224 4.87103 2.01224 5.73078V10.7626C2.01224 10.8275 2.01023 10.8942 2.00726 10.9777C1.98389 11.635 1.94111 14.7406 3.23424 17.433C4.71366 20.5133 7.91766 23.0001 12.0001 23.0001C16.0826 23.0001 19.2864 20.5133 20.7658 17.433C22.059 14.7405 22.0163 11.6348 21.993 10.9776C21.99 10.8942 21.988 10.8275 21.988 10.7627V5.73078C21.988 4.87104 21.4385 4.10749 20.6233 3.83437L12.6354 1.15828ZM4.01224 5.73078L12.0001 3.05469L19.988 5.73078V10.7627C19.988 10.8662 19.9912 10.9638 19.9942 11.0486C20.0155 11.6484 20.034 14.3373 18.963 16.5671C17.7741 19.0424 15.2203 21.0001 12.0001 21.0001C8.77992 21.0001 6.22593 19.0424 5.03708 16.5671C3.96617 14.3374 3.98466 11.6487 4.006 11.0487C4.00901 10.9639 4.01224 10.8662 4.01224 10.7626V5.73078Z" fill="%237000E3"/></svg>');
        }
      }

      &.events {
        & h3:before {
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.287 13.712C7.479 13.904 7.71667 14 8 14C8.28267 14.0007 8.52 13.905 8.712 13.713C8.904 13.521 9 13.2833 9 13C9.00067 12.7173 8.905 12.48 8.713 12.288C8.521 12.096 8.28334 12 8 12C7.71734 11.9993 7.48 12.095 7.288 12.287C7.096 12.479 7 12.7167 7 13C6.99934 13.2827 7.095 13.52 7.287 13.712ZM11.287 13.712C11.479 13.904 11.7167 14 12 14C12.2827 14.0007 12.52 13.905 12.712 13.713C12.904 13.521 13 13.2833 13 13C13.0007 12.7173 12.905 12.48 12.713 12.288C12.521 12.096 12.2833 12 12 12C11.7173 11.9993 11.48 12.095 11.288 12.287C11.096 12.479 11 12.7167 11 13C10.9993 13.2827 11.095 13.52 11.287 13.712ZM15.287 13.712C15.479 13.904 15.7167 14 16 14C16.2827 14.0007 16.52 13.905 16.712 13.713C16.904 13.521 17 13.2833 17 13C17.0007 12.7173 16.905 12.48 16.713 12.288C16.521 12.096 16.2833 12 16 12C15.7173 11.9993 15.48 12.095 15.288 12.287C15.096 12.479 15 12.7167 15 13C14.9993 13.2827 15.095 13.52 15.287 13.712ZM3.587 21.412C3.979 21.804 4.45 22 5 22H19C19.5493 22.0007 20.02 21.805 20.412 21.413C20.804 21.021 21 20.55 21 20V6C21.0007 5.45067 20.805 4.98 20.413 4.588C20.021 4.196 19.55 4 19 4H18V3C18 2.44772 17.5523 2 17 2C16.4477 2 16 2.44772 16 3V4H8V3C8 2.44772 7.55229 2 7 2C6.44772 2 6 2.44772 6 3V4H5C4.45067 3.99933 3.98 4.195 3.588 4.587C3.196 4.979 3 5.45 3 6V20C2.99934 20.5493 3.195 21.02 3.587 21.412ZM19 20H5V10H19V20ZM19 8H5V6H19V8ZM8 18C8.55229 18 9 17.5523 9 17C9 16.4477 8.55229 16 8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18ZM12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18ZM17 17C17 17.5523 16.5523 18 16 18C15.4477 18 15 17.5523 15 17C15 16.4477 15.4477 16 16 16C16.5523 16 17 16.4477 17 17Z" fill="%237000E3"/></svg>');
        }
      }

      & h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.128px;
        position: relative;
        padding-left: calc(24px + 8px);

        &:before {
          position: absolute;
          content: '';
          background-color: #7000E3;
          width: 24px;
          height: 24px;
          top: calc(50% - 24px / 2);
          left: 0;
        }
      }

      & p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #73738A;
      }
    }
  }

  & .additional-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #D5D4E4;
    border-radius: 16px;
    padding: 16px;

    & h2 {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      position: relative;
      padding-left: calc(24px + 8px);

      &:before {
        position: absolute;
        content: '';
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20Z" fill="%23A8A8BD"/><path d="M11 11H13V17H11V11ZM11 7H13V9H11V7Z" fill="%23A8A8BD"/></svg>');
        width: 24px;
        height: 24px;
        top: calc(50% - 24px/2);
        left: 0;
      }
    }

    & p {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}